<div class="bg-light lter wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-6 col-xs-12">
			<h1 class="page_title">{{ page_title }}</h1> 
			<small class="text-muted">Welcome to JamIQ application</small> 
		</div> 
	</div>
</div>


<div class="wrapper-content container-fluid wrapper-md"> 



	<div class="panel panel-default pane">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Post Detail</div>
	  <div class="panel-body">


			    <div class="row wrapper"> 
					<div class="col-sm-4 m-b-xs"> 

						<select class="input-sm form-control w-sm inline v-middle"> 
							<option value="0">Choose a page</option> 
							<option value="1">Hoi Cay bua</option> 
							<option value="2">Nescafe</option> 
							<option value="3">BBC Sport</option> 
						</select> 
						
						<button class="btn btn-sm btn-default">Apply</button> 
					</div> 
					<div class="col-sm-6"> 
							<div class="row">
  								<div class="col-sm-6 col-lg-3">
  									<input type="text" id="start-date" class="input-sm form-control m-b-xs" datepicker> 
  								</div>
  								
  								<div class="col-sm-6 col-lg-3">
  									<input type="text" id="end-date" class="input-sm form-control m-b-xs"  datepicker> 
  								</div>	
  							</div>		

					
					</div> 

					<div class="col-sm-2"> 
						<button type="button" class="btn btn-default"><i class="fa fa-trash"></i> Filter</button> 
					</div> 
				</div>


	  </div>


	  <!--CHART-->
	  <div id="chartcontainer" style="min-width: 260px; height: 400px; margin: 0 auto" datacharts></div>	
		
	 <br/>
	 <br/>



	  <div class="table-responsive">

		 	<!--TABLE-->	
		 	<table class="table table-bordered table-hover table-striped" style="border-top: 1px solid #ccc;">
					
		            <thead>
		                  <tr>
		                      <th>Page</th>
		                      <th>Reach</th>
		                      <th>Like</th>
		                      <th>Share</th>
		                      <th>Comment</th>
		                                     
		                  </tr>
		              </thead>
		              <tbody>


		                <!--item-->
		                <tr>
		                    
		                    <td class="title"><h5>Hoi cay bua</h5></td>
		                    <td>0</td>
		                    <td>0</td>
		                    <td>0</td>
		                    <td>0</td>
		                   
		                </tr>
		                <!--// item--> 
		                <!--item-->
		                <tr>
		                    
		                    <td class="title"><h5>Hoi cay bua 2</h5></td>
		                    <td>10</td>
		                    <td>4</td>
		                    <td>1</td>
		                    <td>220</td>
		                   
		                </tr>
		                <!--// item-->
		            </tbody>
		    </table>

		</div>   


	</div>	


	

	<div class="row"> 
		<div class="col-sm-6">

			<div class="panel panel-default">  	
			  	<!-- Default panel contents -->
			 	<div class="panel-heading">Reach</div>
				<div class="panel-body">
				   <div id="chart1" style="min-width: 280px; height: 400px; max-width: 600px; margin: 0 auto" datapie></div>
				</div>
				

			</div> 				
			
		</div>

		<div class="col-sm-6">				
			<div class="panel panel-default">  	
			  	<!-- Default panel contents -->
			 	<div class="panel-heading">Like</div>
				<div class="panel-body">
				   <div id="chart2" style="min-width: 280px; height: 400px; max-width: 600px; margin: 0 auto" datapie></div>
				</div>
				
				
			</div> 	
		</div> 
	</div>

	<div class="row"> 
		<div class="col-sm-6">

			<div class="panel panel-default">  	
			  	<!-- Default panel contents -->
			 	<div class="panel-heading">Share</div>
				<div class="panel-body">
				   <div id="chart3" style="min-width: 280px; height: 400px; max-width: 600px; margin: 0 auto" datapie></div>
				</div>
				

			</div> 				
			
		</div>

		<div class="col-sm-6">				
			<div class="panel panel-default">  	
			  	<!-- Default panel contents -->
			 	<div class="panel-heading">Comment</div>
				<div class="panel-body">
				   <div id="chart4" style="min-width: 280px; height: 400px; max-width: 600px; margin: 0 auto" datapie></div>
				</div>
				
				
			</div> 	
		</div> 
	</div>



</div>

