<div class="bg-light lter wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-6 col-xs-12">
			<h1 class="page_title">{{ page_title }}</h1> 
			<small class="text-muted">Welcome to JamIQ application</small> 
		</div> 

		<div class="col-sm-6 col-xs-12 wrapper-md">
			
			<a href="#post" class="btn btn-default btn-back">
			  	<i class="fa fa-list"></i> Back to list
			</a>
		</div>
	</div>

</div>

<div class="wrapper-content container-fluid wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-4">				
			
			<!--POST CREATE-->

			<form class="form-horizontal" role="form">
			  	
				<ul id="postType" class="list-inline">

					  <li>
					  		<a href="" title="" class="active" data-type="status" ng-click="switchType($event)" ><i class="fa fa-file-text-o"></i> <strong>Status</strong></a>
					  </li>
					  
					  <li>
					  		<a href="" title="" data-type="link" ng-click="switchType($event)"><i class="fa fa-link"></i> <strong>Link</strong></a>
					  </li>
	 				  
	 				  <li>
					  		<a href="" title="" data-type="photo" ng-click="switchType($event)"><i class="fa fa-picture-o"></i> <strong>Photo</strong></a>
					  </li>
					  
					  <li>
					  		<a href="" title="" data-type="video" ng-click="switchType($event)"><i class="fa fa-film"></i> <strong>Video</strong></a>
					  </li>
				</ul>

				<div class="clearfix"></div>

				<!--status-->
				<div id="postTypestatus" class="post-data active">
					
					
					<textarea class="form-control" rows="3"></textarea>
					<br/>

				</div>	

				<!--link-->
				<div id="postTypelink" class="post-data">


						<div class="form-group">
						    <label for="inputLink" class="col-sm-3 control-label">Link <em>*</em></label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputLink" placeholder="Link" />
						    </div>
						</div>

						<div class="form-group">
						    <label for="inputLinkName" class="col-sm-3 control-label">Link's name </label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputLinkName" placeholder="Link name" />
						    </div>
						</div>
						
						<div class="form-group">
						    <label for="inputLinkCap" class="col-sm-3 control-label">Link's caption </label>
						    <div class="col-sm-9">
						      <input type="text" class="form-control" id="inputLinkCap" placeholder="Link caption" />
						    </div>
						</div>
						
						<div class="form-group">
						    <label for="inputLinkMes" class="col-sm-3 control-label">Message </label>
						    <div class="col-sm-9">
						      <textarea class="form-control" id="inputLinkMes" rows="3"></textarea>
						    </div>
						</div>



				</div>	

				<!--photo-->
				<div id="postTypephoto" class="post-data">

						<div class="form-group">
						    <label for="inputPhotoFile" class="col-sm-3 control-label">Select photo <em>*</em></label>
						    <div class="col-sm-9">
						      <input id="inputPhotoFile" type="file" class="text tran3s" name="photo_file">
						    </div>
						</div>

						<div class="form-group">
						    <label for="inputPhotoMes" class="col-sm-3 control-label">Photo's description</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" id="inputPhotoMes" rows="3"></textarea>
						    </div>
						</div>
				</div>	

				<!--video-->
				<div id="postTypevideo" class="post-data">
					<div class="form-group">
						    <label for="inputVideoFile" class="col-sm-3 control-label">Select video <em>*</em></label>
						    <div class="col-sm-9">
						      <input id="inputPhotoFile" type="file" class="text tran3s" name="photo_file">
						    </div>
						</div>

						<div class="form-group">
						    <label for="inputVideoMes" class="col-sm-3 control-label">Video's description</label>
						    <div class="col-sm-9">
						      <textarea class="form-control" id="inputVideoMes" rows="3"></textarea>
						    </div>
						</div>
				</div>		



			  	<div class="form-group">
					<label class="col-sm-3 control-label">Category</label>
					<div class="col-sm-9  text-right"><label class="control-label"><a href="#"><i class="fa fa-plus-circle"></i> Add New?</a></label> </div>
				</div>	
				
				<div class="form-group" style="overflow:auto; height:120px; ">

					<div class="col-sm-9 col-sm-offset-3">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Category 1
						  </label>
						</div>

						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Category 2
						  </label>
						</div>

						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Category 3
						  </label>
						</div>

						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Category 4
						  </label>
						</div>



					</div>

				</div>
				

				<div class="form-group">
					<label class="col-sm-3 control-label">Target Page(s)</label>
					
				</div>	
				
				<div class="form-group" style="overflow:auto; height:120px; ">

					<div class="col-sm-9 col-sm-offset-3">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Page 1
						  </label>
						</div>

						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Page 2
						  </label>
						</div>

						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Page 3
						  </label>
						</div>

						<div class="checkbox">
						  <label>
						    <input type="checkbox" value=""> Page 4
						  </label>
						</div>



					</div>

				</div>

			  	

			  	<div class="form-group">
					<label class="col-sm-3 control-label">Publishing Time</label>
					<div class="col-sm-9 ">

						<div class="form-group">
							<input type="text" name="postdatetime" custom-datepicker class="postdatetime m-b-xs  col-sm-4" />
						</div>		
						<div class="form-group">
							<div class="input-append bootstrap-timepicker usr_time">
					            <input id="timepicker" type="text" class="input-small col-sm-4" timepicker>
					            <span class="add-on"><i class="fa fa-clock-o"></i></span>
					        </div>
						</div>		

							
																						
						
					</div>
				</div>	

				<div class="form-group">
					<label class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-sm-9 ">						
						<button type="submit" class="btn btn-default" ng-click="chiliSpicy()">Submit</button>
					</div>
				</div>	

				


			</form>




			<!--//POST CREATE-->

		</div> 
	</div>
</div>

