<div class="bg-light lter wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-6 col-xs-12">
			<h1 class="page_title">{{ page_title }}</h1> 
			<small class="text-muted">Below are the Facebook pages available under your Facebook account. Click the switch to add or remove a page from your JamIQ publishing plans.</small> 
		</div> 
	</div>
</div>

<div class="wrapper-content container-fluid wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-12">				
	
			<!--FACEBOOK PAGE LIST -->
				
			<table class="table table-bordered table-hover table-striped">
				<colgroup>
				    <col style="width:90%">
				    <col style="">
				</colgroup>
	            <thead>
	                  <tr>
	                      <th>Page</th>
	                      <th></th>
	                                     
	                  </tr>
	              </thead>
	              <tbody>


	                <!--item-->
	                <tr>
	                    
	                    <td class="title"><h5>Hoi cay bua</h5></td>
	                    <td class="action">                        
	                       <div class="onoffswitch">
							    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
							    <label class="onoffswitch-label" for="myonoffswitch">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
	                    </td>
	                   
	                </tr>
	                <!--// item-->
	                
	                <!--item-->
	                <tr>
	                    
	                    <td class="title"><h5>Hoi cay bua</h5></td>
	                    <td class="action">                        
	                       	<div class="onoffswitch">
							    <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
							    <label class="onoffswitch-label" for="myonoffswitch1">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
	                    </td>
	                    
	                </tr>
	                <!--// item-->
	                
	                <!--item-->
	                <tr>
	                    
	                    <td class="title"><h5>Hoi cay bua</h5></td>
	                    <td class="action">                        
	                       <div class="onoffswitch">
							    <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
							    <label class="onoffswitch-label" for="myonoffswitch2">
							        <span class="onoffswitch-inner"></span>
							        <span class="onoffswitch-switch"></span>
							    </label>
							</div>
	                    </td>
	                    
	                </tr>
	                <!--// item-->

	                


	              </tbody>

	              <tfoot>
	                  <tr>
	                      <td>&nbsp;</td>
	                      <td></td>
	                     
	                  </tr>
	              </tfoot> 

            </table>

           

			<!--//FACEBOOK PAGE LIST -->

		</div> 
	</div>

	 <div class="row">
	      <div class="col-md-2">
	          <a href="#" title="Logout Facebook Account" class="btn btn-default" ><span class="glyphicon glyphicon-log-out"></span> Logout Facebook Account</a>
	      </div>
	      <div class="col-md-2">
	          <a href="#" title="Sync Page Account" class="btn btn-default" ><span class="glyphicon glyphicon-refresh"></span> Sync Page Account</a>
	      </div>
    </div>  





</div>

