<div class="bg-light lter wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-6 col-xs-12">
			<h1 class="page_title">{{ page_title }}</h1> 
			<small class="text-muted">Welcome to JamIQ application</small> 
		</div> 
	</div>
</div>

<div class="wrapper-content container-fluid wrapper-md inf"> 
	

	<div class="panel panel-default pane">
	 			<!-- Default panel contents -->
	  			<div class="panel-heading">INFLUENCE STATISTICS</div>
			  	
			  	<div class="panel-body">


					    <div class="row wrapper"> 
							<div class="col-sm-4 m-b-xs"> 

								<select class="input-sm form-control w-sm inline v-middle"> 
									<option value="0">Choose a page</option> 
									<option value="1">Hoi Cay bua</option> 
									<option value="2">Nescafe</option> 
									<option value="3">BBC Sport</option> 
								</select> 
								
								<button type="button" class="btn btn-default"><i class="fa fa-trash"></i> Filter</button> 
							</div>
							
						</div>
			  </div>

	</div>

	<div class="row">
		
		<!--LEFT COL-->
		<div class="col-sm-4 col-xs-12">

			<!--content-->

			<div class="panel panel-default pane">

				<!-- Default panel contents -->
				<div class="panel-heading">Users</div>
				<div class="table-responsive">
				<!-- Table -->
				<table class="table table-bordered table-hover table-striped" style="border-top: 1px solid #ccc;">
						            
		              <tbody>

		                <!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 
						<!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 
						<!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 
						<!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item-->  
		                <!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 
						<!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 
						<!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 
						<!--item-->
		                <tr>		                    
		                    <td class="title"><h5>Jetstar Portal</h5></td>
		                    <td><a href="#" title="Detail">Detail</a></td>
		                </tr>
		                <!--// item--> 



		               </tbody>
		            </table>
		        	</div>

			</div>	

			<!--content-->

			<div class="panel panel-default pane">

				<!-- Default panel contents -->
				<div class="panel-heading">Browser market shares at a specific website, 2014</div>
				<div class="panel-body">
					<div id="chart4" style="min-width: 260px; height: 300px; max-width: 600px; margin: 0 auto" datapie></div>
				</div>
			</div>	

			<div class="panel panel-default pane">

				<!-- Default panel contents -->
				<div class="panel-heading">Browser market shares at a specific website, 2014</div>
				<div class="panel-body">
					<div id="chart5" style="min-width: 260px; height: 300px; max-width: 600px; margin: 0 auto" datapie></div>
				</div>
			</div>	






	 	</div>

	 	<!--RIGHT COL-->
	 	<div class="col-sm-8 col-xs-12">
	 		<!--content-->

			<div class="panel panel-default pane">

				<!-- Default panel contents -->
				<div class="panel-heading">Users Info</div>
				<div class="panel-body">
				    <div class="col-xs-12 col-sm-4 col-md-2 thumb-sm avatar m-r text-center">
						<img alt="..." src="img/avatar.jpg" class="img-circle">
						<i class="on b-white right"></i>
					</div>
					<div class="clear col-xs-12  col-sm-8 col-md-10">
						<h3>Jetstar Portal</h3>
						
						<div class="group">
						   	<span><strong>Like:</strong> 19</span>
							<span><strong>Comments:</strong> 0</span>
							<span><strong>Shares:</strong> 1</span>	
						</div>

						<div class="group">
						   	<span><strong>Friends:</strong> <a href="#" title="Detail">Detail</a></span>
							<span><strong>Followers:</strong> <a href="#" title="Detail">Detail</a></span>
							<span><strong>Liked page:</strong> <a href="#" title="Detail">Detail</a></span>	
						</div>
						
						


					</div>

					<div class="clearfix"></div>

					
				</div>
				<!-- List group -->
				  <ul class="list-group">

				  	<!--item-->
				    <li class="list-group-item">

				    	<div class="panel panel-default panel-bottom">
				    		<div class="panel-heading"><h6><a href="#" title="">Hoi Cay Bua</a> share a <span>photo</span> <span>2014-09-03 13:58:00</span></h6></div>
							<div class="panel-body">
								
								<div class="pull-left post-thumb">
									<img alt="..." src="img/1_n.jpg">
								</div>



								<div class="group post-title">
									<p><strong>Like nếu bạn đã từng!</strong></p>

									<ul class="list-inline">
									  <li><span><i class="fa fa-thumbs-o-up"></i><small> Like: 2</small></span></li>
									  <li><span><i class="fa fa-comments"></i> <small>Comments: 2</small></span></li>
									</ul>
									<br/>
									
								</div>
								<hr/>
								<div class="clearfix"></div>	

								<div class="group post-info ">


									<div class="row">
										<div class="col-md-4 m-b-xs">
											<a href="#" class="avatar"><img alt="..." src="img/avatar.jpg" class="img-circle"> <span><strong>Jetstar Portal</strong></span></a>

										</div>		

										<div class="col-md-4 col-xs-6 text-center liked m-b-xs">
											
											<i class="fa fa-thumbs-up fa-2x"></i>
											<span>Liked</span> 
											
										</div>
  										
  										<div class="col-md-4 col-xs-6 text-center shared m-b-xs">
  											
											
  											<span class="number">10</span>											
											<span>Shared</span> 
											
  										</div>

									</div>

									<div class="row">
										
										<div class="col-md-11 col-md-offset-1 comment">
											<div class="comment-arrow"> The doors are open and you're on your way The eyes of the world are on you to day</div>
										</div>
									</div>		

								</div>

							</div>

						

				    	</div>	

				    </li>
				    <!--//item-->

				    <!--item-->
				    <li class="list-group-item">

				    	<div class="panel panel-default panel-bottom">
				    		<div class="panel-heading"><h6><a href="#" title="">Hoi Cay Bua</a> share a <span>photo</span> <span>2014-09-03 13:58:00</span></h6></div>
							<div class="panel-body">
								
								<div class="pull-left post-thumb">
									<img alt="..." src="img/1_n.jpg">
								</div>
								<div class="group post-title">
									<p><strong>Like nếu bạn đã từng!</strong></p>
								</div>
								
								<div class="group post-info">
									<p><a href="#">Jetstar Portal </a> liked</p>
									<p><a href="#">Jetstar Portal </a> shared: <strong>1</strong></p>	
								</div>

								<div class="group post-info">
									<a href="" title="" class="btn btn-default btn-xs" ><i class="fa fa-thumbs-o-up"></i> Like: 2</a>
									<a href="" title="" class="btn btn-default btn-xs"><i class="fa fa-comments"></i> Comments: 2</a>
								</div>		


							</div>

							<div class="panel-footer">
								<p><a href="#"><strong>Jetstar Portal</strong></a> commented:   <span class="comment">The doors are open and you're on your way The eyes of the world are on you to day</span></p>
							</div>

				    	</div>	

				    </li>
				    <!--//item-->

				  



				  </ul>

			</div>	

			<!--content-->
	 	</div>

	</div>	



		



</div>

