<div class="bg-light lter wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-6 col-xs-12">
			<h1 class="page_title">{{ page_title }}</h1> 
			<small class="text-muted">Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</small> 
		</div> 
		<div class="col-sm-6 col-xs-12 text-right wrapper-md">
			<a href="#createpost" class="btn btn-default">
			  	<i class="fa fa-pencil-square-o"></i> Create post
			</a>
		</div>		
	</div>
</div>

<div class="wrapper-content container-fluid wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-12">


			<!--LIST -->
				<div class="panel panel-default">	

					

					<!--FILTER-->
					<div class="panel-body">
						


							<form class="form-inline" role="form">
							  
							  <div class="form-group">
							    <select class="input-sm form-control w-sm inline v-middle"> 
									<option value="0">Bulk action</option> 
									<option value="1">Delete selected</option> 
									<option value="2">Bulk edit</option> 
									<option value="3">Export</option> 
								</select> 
							  </div>
							  
							  <div class="form-group">
							    <select class="input-sm form-control w-sm inline v-middle"> 
									<option value="0">Bulk action</option> 
									<option value="1">Delete selected</option> 
									<option value="2">Bulk edit</option> 
									<option value="3">Export</option> 
								</select> 
							  </div>
							  
							  <div class="form-group">
							   	<select class="input-sm form-control w-sm inline v-middle"> 
									<option value="0">Bulk action</option> 
									<option value="1">Delete selected</option> 
									<option value="2">Bulk edit</option> 
									<option value="3">Export</option> 
								</select> 
							  </div>

							  <div class="form-group">
							   	<select class="input-sm form-control w-sm inline v-middle"> 
									<option value="0">Bulk action</option> 
									<option value="1">Delete selected</option> 
									<option value="2">Bulk edit</option> 
									<option value="3">Export</option> 
								</select> 
							  </div>
							  
						
							  
							  <button type="submit" class="btn btn-sm btn-default">Filter</button>
							
							</form>


							<div class="row">
								<div class="col-xs-12">

										<ul class="list-inline notif">
										  <li><span class="bullet active"></span> Not post</li>
										  <li><span class="bullet success"></span> Posted</li>
										  <li><span class="bullet danger"></span> Error</li>
										</ul>
								</div>
								

							</div>

					</div>

					<!--//FILTER-->





					<div class="table-responsive">	
						<table class="table table-bordered table-hover table-striped">
							
				            <thead>
				                  <tr>
				                      <th>ID</th>
				                      <th>Excerpt</th>
				                      <th>Category</th>		                    
				                      <th>Scheduled</th>
				                      <th>Last Edited by</th>
				                      <th></th>
				                                     
				                  </tr>
				              </thead>
				              <tbody>


				                <!--item-->
				                <tr>
				                    
					                <td>1</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                 
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
				                    	<button type="button" class="link"><i class="fa fa-trash"></i> Delete</button> 
									
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->

				                <!--item-->
				                <tr class="active">
				                    
					                <td>2</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                  
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->
				                
				                <!--item-->
				                <tr class="success">
				                    
					                <td>3</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				               
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->

				                <!--item-->
				                <tr class="danger">
				                    
					                <td>4</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                 
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->
				                
				                <!--item-->
				                <tr>
				                    
					                <td>5</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                   
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->

				                <!--item-->
				                <tr>
				                    
					                <td>7</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                   
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->
				                
				                <!--item-->
				                <tr>
				                    
					                <td>8</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                    
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->

				                <!--item-->
				                <tr>
				                    
					                <td>9</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                    
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->
				                
				                <!--item-->
				                <tr>
				                    
					                <td>10</td>
				                    <td>Lorem ultrices ut pellentesque turpis elementum tincidunt dolor aenean aliquet adipiscing!</td>
				                    <td>Hot show, Mong Phu Du</td>
				                    
				                    <td>26/06/14 15:49</td>
				                    <td>Tuyen</td>
				                    <td class="action">
				                    	<a href="#createpost" class="ics edit" title="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
										<a href="#" class="" title="delete"><i class="fa fa-trash"></i> Delete</a>
										<a href="#" class="" title="View posted content on facebook"><i class="fa fa-facebook-square"></i> View</a>

				                    </td>
				                   
				                </tr>
				                <!--// item-->

				               
				                

				                


				              </tbody>

				              

			            </table>
			        </div>


		            <footer class="panel-footer">
						<div class="row">
							<div class="col-sm-4 text-center-xs">

									<ul class="pagination pagination-sm">
									  <li class="disabled" ><a href="#">&laquo;</a></li>
									  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									  <li><a href="#">2</a></li>
									  <li><a href="#">3</a></li>
									  <li><a href="#">4</a></li>
									  <li><a href="#">5</a></li>
									  <li><a href="#">&raquo;</a></li>
									</ul>

							</div>
						</div>
					</footer>
   		
           		</div>

			<!--//FACEBOOK PAGE LIST -->	
		</div> 
	</div>
</div>

