<div class="bg-light lter wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-6 col-xs-12">
			<h1 class="page_title">{{ page_title }}</h1> 
			<small class="text-muted">Welcome to JamIQ application</small> 
		</div> 
	</div>
</div>

<div class="wrapper-content container-fluid wrapper-md"> 
	<div class="row"> 
		<div class="col-sm-12">				
				TAO LAO
		</div> 
	</div>
</div>

